body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 40px auto;
    background: rgb(209, 10, 10);
    padding: 20px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    border: 2px solid #5a0cb4;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6a11cb;
    color: rgb(10, 94, 167);
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #2575fc;
}
.card {
    background-color: #5b9c11;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.error {
    text-align: center;
    color: red;
    font-weight: bold;
}